body{
    background-color: #afdde5;
    font-size: 16px;
}
/*   Header Section */
.ht{
    color: #0a5fd6;
}


.herohed{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #afdde5;
    color: white;
    border-radius: 15px;


}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #003135;
    border-radius: 15px;
    color: white;

    


}
.nav{
    display: flex;
    gap: 40px;
    font-size: 20px;
    padding-right: 20px;
    align-items: center;
    
    

}
.icon{
    display: flex;
}
.nav a{
    text-decoration: none;
    color: white
            
}
.button {
    display: inline-block;
    border: 1px solid white;
    padding: 7px 18px;
    border-radius: 6px;
    color: #e6edf3;
    text-decoration: none;
    width: fit-content;
    font-size: 20px;
}
.button:hover {
    background: #0a3e88;
    border-color: #58a6ff;
}



/* Hero Section  */



.hero{
    display: flex;
    padding: 20px;
    background-color: #024950;
    border-radius: 15px;
    justify-content: space-around;
    



}

.hero-items {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    
}
.hero-items h2{
    
    font-size: 36px;
    margin-bottom: 0;
}
.hero-items p{
    margin-top: 0;
}
.hero img{
    border-radius: 20px;
}

/* Info Section */

.infosec{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    background-color: #afdde5;
    text-align: center;
    font-size: 25px;
    color: orangered;
    margin-bottom: 20px;
    
}

.infosec-items{
    display: flex;
    justify-content:space-around;
}

.infosec-child{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    width: 100%;
    font-size: 16px;
}

.infosec-child img {
    max-width: 200px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid #003135;
}

/* Quota */

.quotes{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    text-align: center;
    list-style: none;
    background-color: white;
    border-radius: 15px;
    padding: 40px 0;
    margin: 0 20px;
  

}

.quotes h3{
    font-size: 22px;
    color: #0d7377;
    
}

.quotes blockquote{
    font-size: 16px;
    color: #444;
}


